/* Root css variables */
:root {
    --color-white: #fff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgb(255, 67, 54, 0.2);
    --color-purple-light: rgb(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

html {
    font-size: 0.75rem;
}

body {
    background-color: var(--color-light);
    font-family: Roboto sans-serif;
    color: var(--color-dark);
    min-height: 100vh;
}


img.logo {
    width: 100%;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
}

h6 {
    font-size: 0.86rem;
}

p {
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small {
    font-size: 0.77rem;
    font-weight: 300;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.danger {
    color: var(--color-danger);
}

.purple {
    color: var(--color-purple);
}

.bg-primary {
    background-color: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-primary-light{
    background-color: var(--color-primary-light);
}

.bg-success {
    background-color: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-success-light{
    background-color: var(--color-success-light);
}

.bg-warning {
    background-color: var(--color-warning);
    box-shadow: 0 0.8rem 0.8rem var(--color-warning-light);
}

.bg-warning-light{
    background-color: var(--color-warning-light);
}

.bg-danger {
    background-color: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-danger-light{
    background-color: var(--color-danger-light);
}

.bg-purple {
    background-color: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-purple-light{
    background-color: var(--color-purple-light);
}

.bg-dark {
    background-color: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

/***** Start of Navbar *****/
nav {
    background-color: var(--color-white);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    position: relative;
}

nav img.logo {
    width: 12rem;
}

nav .search-bar {
    background-color: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

nav .search-bar input[type="search"] {
    background-color: transparent;
    width: 100%;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray-dark);
}

.profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profile-area .theme-btn {

    background-color: var(--color-light);
    border-radius: var(--border-radius-2);
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
}

nav .profile-area .theme-btn span {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
}

nav .profile-area .profile {
    display: flex;
    align-items: center;
    gap: 1rem;

}

nav .profile-area .profile-photo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .profile-area .profile-photo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

nav .profile-area button {
    display: none;
}

.arrow-down {
    cursor: pointer;
}

/*********** Asise and side-bar ***********/

main {
    display: grid;
    grid-template-columns: 20rem auto 40rem;
    gap: 2rem;
    margin: 1rem auto 4rem;

    width: 96%;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}

/* Displayed on mobile and tablet views only */
main aside #close-btn {
    display: none;
}

main aside .side-bar a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

main aside .side-bar a span {
    margin-left: 3rem;
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

main aside .side-bar a.active {
    color: var(--color-primary);
    background-color: var(--color-white);
}

main aside .side-bar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
}

main aside .side-bar a:hover {
    color: var(--color-primary);
}

main aside .side-bar a:hover span {
    margin-left: 2rem;
}

main aside .side-bar a h4 {
    font-weight: 900;
}

/***********updates ***********/

main aside .updates {
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    padding: var(--card-padding);
    text-align: center;
}

main aside .updates span {
    font-size: 2.8rem;
}

main aside .updates h4 {
    margin: 1rem 0;
}

main aside .updates a {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.8rem 0;
    border-radius: var(--border-radius-1);
    width: 100%;
    display: block;
    margin-top: 2rem;
    transition: all .3s ease;
}

main aside .updates a:hover {
    box-shadow: 0 1rem 2rem var(--color-primary-light);
}

/***********************Middle*********************/

main section.middle .header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main section.middle .header input[type="date"] {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    color: var(--color-gray-dark);
    background-color: var(--color-white);
}

main section.middle .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 0 3rem 0 1rem;
}

main section.middle .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
    background: linear-gradient(#ff796f, #bd261b);
    color: #fff;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: 0 2rem 3rem var(--color-danger-light);
    min-width: 24rem;
}

main section.middle .cards .card:nth-child(2) {
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

main section.middle .cards .card:nth-child(3) {
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem var(--color-purple-light);
}

main section.middle .cards .card:hover {
    box-shadow: none;
}

main section.middle .cards .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.middle .cards .card .top .left {
    display: flex;
    gap: 0.5rem;
}

main section.middle .cards .card .top .left h2 {
    font-size: 1.4rem;
    font-weight: 200;
}

main section.middle .cards .card .top .left img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid white;
    border-radius: var(--border-radius-2);
    padding: 0.4rem
}

main section.middle .cards .card .top .right {
    width: 3.5rem;
}

main section.middle .cards .card .middle {
    display: flex;
    justify-content: space-between;
}

main section.middle .cards .card .middle .chip {
    width: 3.5rem;
}

main section.middle .cards .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section.middle .cards .card .bottom .right {
    display: flex;
    gap: 2rem;
}








/********************End of Middle*****************/

/*************** Start of monthly report*****************/

main .monthly-report {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-between;
    margin: 2rem auto;
    text-align: center;
}

main .monthly-report h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

/*************** Start of fast payment*****************/
main .fast-payment {
    display: flex;
    align-self: center;
    margin: 2rem;
    gap: 2rem;
}

main .fast-payment .badges {
    display: flex;
    align-self: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;
}

main .fast-payment .badge {
    padding: 0.8rem var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: .3s all ease;
}

main .fast-payment .badge:hover {
    box-shadow: 0 0 1.5rem var(--color-primary-light);
    cursor: pointer;
}

main .fast-payment .badge span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

main .fast-payment .badge:first-child span {
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
}

main .fast-payment div {
    display: flex;
    align-self: center;
    gap: 1rem;
}

/************* Chart*************/
#chart {
    background-color: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-border-radius);
}


/***************** Investment*************************/

main section.right .investments {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

main section.right .investments img {
    width: 2.4rem;
}

main section.right .investments .header {
    display: flex;
    justify-content: space-between;
    padding: var(--card-padding);
    align-items: center;
    padding-bottom: 0;
}

main section.right .investments .header a {
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

main section.right .investments .investment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);
    border: 1px solid var(--color-light);
}

main section.right .investments .investment:last-child{
    border: none;
}

main section.right .investments .investment:hover{
    background-color: var(--color-light);
    cursor: pointer;
}


/************ Recent Transactions **************/

main .recent-tranasctions{
    margin-top: 2rem;
}

main .recent-tranasctions .header{
    display: flex;
    justify-content: space-between  ;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

main .recent-tranasctions .header a{
    display: flex;
    align-items: center;
}

main .recent-tranasctions img{
    width: 2.2rem;
}

main .recent-tranasctions .transaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: var(--card-border-radius);
    transition: 0.3s ease;
}

main .recent-tranasctions .transaction:hover{
    background-color: var(--color-white);
    cursor: pointer;
}

main .recent-tranasctions .transaction .icon{
    padding: var(--padding-2);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
}

main .recent-tranasctions .transaction .card-details .card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.6rem;
    height: 3rem;
    border-radius: var(--border-radius-2);
}

/******** Media Query for Tablets********/
@media screen and (max-width: 1024px) {
    nav .search-bar{
        display: none;
    }

    nav .profile-area{
        gap:2rem;
    }

    nav .profile-area button#menu-btn{
        display: inline;
        background-color: transparent;
        color: var(--color-dark);
    }

    main{
        grid-template-columns: 1fr;
    }

    main aside{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        display: none;
    }

    main aside button#close-btn{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top:1rem;
        right: 1rem;
        z-index: 4;
        background-color: transparent;
        color: var( --color-dark);
    }

    button:hover{
        cursor: pointer;
    }

    main aside .side-bar{
        margin-top: 4rem;
    }

    main aside .updates{
        display: none;
    }

    main section.middle .cards{
        grid-template-columns: 1fr 1fr;
    }

    main canvas{
        margin:3rem 0 1rem;
    }

    main section.right .recent-tranasctions{
        margin-top:3rem;
    }
    
  }