/* Root css variables */
:root{
    --color-white:#fff;
    --color-light:#f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(71,7, 234);
    --color-success:rgb(34,202,75);
    --color-danger:rgb(255,67,54);
    --color-warning:rgb(234, 181, 7);
    --color-purple:rgb(160,99,245);

    --color-primary-light:rgba(71,7, 234,0.2);
    --color-success-light:rgba(34,202,75,0.2);
    --color-danger-light:rgb(255,67,54,0.2);
    --color-purple-light:rgb(160,99,245,0.2);

    --card-padding:1.6rem;
    --padding-1:1rem;
    --padding-2:8px;

    --card-border-radius:1.6rem;
    --border-radius-1:1rem;
    --border-radius-2:6px;
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    box-sizing: border-box;
    appearance: none;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

html{
    font-size: 0.75rem;
}

body{
    background-color: var(--color-light);
    font-family:Roboto sans-serif;
    color: var(--color-dark);
    min-height: 100vh;
}


img.logo{
    width: 100%;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.86rem;
    font-weight: 500;
}

h6{
    font-size: 7.6rem;
}

p{
    font-size: 0.86rem;
    color:var(--color-gray-dark);
}

small{
    font-size: 0.77rem;
    font-weight: 300;
}

.text-muted{
    color:var(--color-gray-light);
}

.primary{
    color:var(--color-primary);
}
.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}
.danger{
    color:var(--color-danger);
}
.purple{
    color:var(--color-purple);
}

.bg-primary{
    background-color:var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}
.bg-success{
    background-color:var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}
.bg-warning{
    background-color:var(--color-warning);
    box-shadow: 0 0.8rem 0.8rem var(--color-warning-light);
}
.bg-danger{
    background-color:var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}
.bg-purple{
    background-color:var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark{
    background-color: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0,0,0,0.2);
}

/***** Start of Navbar *****/
nav{
    background-color: var(--color-white);
}

nav .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:96%;
    margin:0 auto;
    position: relative;
}

nav img.logo{
    width: 12rem;
}

nav .search-bar{
    background-color: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

nav .search-bar input[type="search"]{
    background-color: transparent;
    width: 100%;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray-dark);
}

.profile-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profile-area .theme-btn{
 
    background-color: var(--color-light);
    border-radius: var(--border-radius-2);
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    display: flex;
}

nav .profile-area .theme-btn span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

nav .profile-area .theme-btn .active{
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
}

nav .profile-area .profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
nav .profile-area .profile-photo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav .profile-area .profile-photo img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    }
nav .profile-area button{
    display: none;
}

.arrow-down{
    cursor: pointer;
}

/*********** Asise and side-bar ***********/

main{
    display: grid;
    grid-template-columns: 16rem  auto 30rem;
    gap: 2rem;
    margin:1rem auto 4rem;
    
    width: 96%;
}

main aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}

/* Displayed on mobile and tablet views only */
main aside #close-btn{
    display: none;
}

main aside .side-bar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

main aside .side-bar a span{
    margin-left: 3rem;
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

main aside .side-bar a.active{
    color: var(--color-primary);
    background-color: var(--color-white);
}

main aside .side-bar a.active::before{
    content: "";
    width:6px;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
}

main aside .side-bar a:hover{
    color: var(--color-primary);
}

main aside .side-bar a:hover span{
    margin-left:2rem;
}

main aside .side-bar a h4{
    font-weight: 900;
}

/***********updates ***********/

main aside .updates{
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    padding: var(--card-padding);
    text-align: center;
}

main aside .updates span{
    font-size: 2.8rem;
}

main aside .updates h4{
    margin:1rem 0;
}

main aside .updates a{
    background-color: var(--color-primary);
    color:var(--color-white);
    padding: 0.8rem 0;
    border-radius: var(--border-radius-1);
    width: 100%;
    display: block;
    margin-top: 2rem;
    transition: all .3s ease;
}

main aside .updates a:hover{
    box-shadow: 0 1rem 2rem var(--color-primary-light);
}

